$primary-font: 'Fraunces', serif;
$secondary-font: 'Barlow', sans-serif;
$red-soft: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate: hsl(168, 34%, 41%);
$blue-dark-light: hsl(212, 27%, 19%);
$blue-grayish-light: hsl(213, 9%, 39%);
$blue-dark-grayish: hsl(232, 10%, 55%);
$blue-grayish: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$text-size: 1.8rem;
